:root {
  --color-bg: #fff;
  --color-text: #333;
  --color-nav: #b1b1b1;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg);
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 5rem;
  color: var(--color-text);
}

h1.city__title {
  margin-bottom: 0.5rem;
}

.city__time {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  width: 980px;
}

nav {
  display: flex;
  justify-content: center;
}

.nav__list {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #dfdfdf;
  display: inline-flex;
  list-style: none;
  position: relative;
  --underline-width: 0;
  --underline-offset-x: 0;
}

.nav__link {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  color: var(--color-nav);
  padding: 1rem 1.7rem 0.5rem;
  display: block;
  text-decoration: none;
}

.nav__list::before {
  content: '';
  width: var(--underline-width);
  position: absolute;
  top: 100%;
  height: 1px;
  display: block;
  transform: translateX(var(--underline-offset-x));
  background-color: #333;
  transition:
    transform 0.5s,
    width 0.5s;
}

.nav__link:hover {
  color: #4f86c0;
  cursor: pointer;
}

.nav__link.active {
  color: #000;
}

.nav__link.active::after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: var(--underline-offset-x);
  width: var(--underline-width);
}
